/* ========== SETUP SNIPPET ========== */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* ========== GENERAL STYLING ========== */

html {
	font-size: 125%;
}

body {
	font-family: 'Catamaran', sans-serif;
	font-size: 1.3rem;
}

.wrapper {
	margin: 0 auto;
	max-width: 1600px;
	position: relative;
}

h1, h2, h3 {
	font-family: 'Pacifico', cursive;
	margin: 0;
}

h1, h3 {
	color: #f2a11c;
}

h1 {
	font-size: 6rem;
	text-align: center;
	margin-top: 12%;
}

h2 {
	font-size: 3rem;
	color: #000000;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

p {
	margin: 0 0 20px 0;
	line-height: 1.6em;
}

a {
	text-decoration: none;
	color: #ffffff;
}

nav {
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 0 15px;
}

img {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

footer, section.instagram {
	padding: 50px 100px;
}

.button {
	height: 50px;
	width: 160px;
	padding: 10px 30px;
	font-size: .8em;
	font-weight: 700;
	text-transform: uppercase;
}

/* h2.titleMedium {
	display: none;
} */

/* ========== HEADER STYLING ========== */
header {
	background-image: url(assets/home/headerImage1x.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 20px;
	height: 99vh;
	max-height: 750px;
}

.dropMenu {
	display: none;
}

.social {
	position: absolute;
	right: 50px;
	top: 6%;	
}

.social i {
	color: #f2a11c;
}

/* ========== MAIN STYLING ========== */

main .button {
	color: #f2a11c;
	background: #222222;
}

.about, .mission, .testimonial, .services {
	height: 85vh;
	max-height: 664px;
	width: 100%;
}

.bkgImage {
	width: 50%;
	height: 100%;
}

 .textBox {
	 width: 50%;
 }

.about .bkgImage, .about .textBox {
	float: right;
}

.textBox {
	padding: 75px 100px;
	font-size: 1em;
}

.bkgImage, .services {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.about .bkgImage {
	background-image: url(assets/home/aboutImage1x.jpg);
}

.mission .bkgImage {
	background-image: url(assets/home/missionImage1x.jpg);
}

.mission .bkgImage, .mission .textBox {
	float: left;
}

/* ==========TESTIMONIAL STYLING========== */

.testimonial {
	background-color: #f4f4f4;
	padding: 100px;
}

.testimonial h2 {
	display: inline-block;
	position: relative;
	left: 20px;
	line-height: 3.475rem;
}

.testimonial p {
	font-size: .9em;
}

.testimonial .image {
	width: 30%;
}

.testimonial .image, .testimonial .textBox {
	float: left;
}

.testimonial .textBox {
	width: 70%;
	padding: 0 0 0 20px;
	margin: 0;
}

.services {
	background-image: url(assets/home/servicesBkg1x.jpg);
	text-align: center; 
}

.services div {
	display: inline-block;
	text-align: center;
	margin: 0 50px;
	font-size: 1.6rem;
	position: relative;
	top: 40%;
}

.services div p {
	color: #f2a11c;
}

/* ==========INSTAGRAM GALLERY STYLING========== */

section.instagram {
	text-align: center;
}

.gallery {
	text-align: center;
	margin: 50px 0;
}

.gallery .image {
	width: calc((100% / 3) - 3.25px);
	float: left;
	padding: 0 2.5px;
	margin: 0;
}

.gallery .image:first-of-type {
	padding: 0 5px 0 0;
}

.gallery .image:last-of-type {
	padding: 0 0 0 5px;
} 

/* ========== FOOTER STYLING ========== */
footer {
	background-color: #1f2022;
}

footer nav {
	width: 100%;
	clear: both;
	margin-bottom: 50px;
}

footer h3 {
	margin-bottom: 10px;
}

footer p {
	color: #ffffff;
	margin: 0 0 10px 0;
}

footer div {
	width: 50%;
	float: left;
}

form {
	position: relative;
}

form input {
	width: 65%;
	padding: 8px 10px;
}

footer button {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 35%;
	border: none;
	color: #222222;
	background: #f2a11c;
	padding: 10px 30px;
	font-weight: 700;
	text-transform: uppercase;
}

form input, form button {
	float: left;
	height: 100%;
}

.copyright {
	background-color: #000000;
	width: 100%;
	padding: 20px;
	text-align: center;
}

.copyright p {
	color: white;
	opacity: .5;
	margin: 0;
}


/* ========== MEDIA QUERIES ========== */

@media (max-width: 1441px) {
	body {
		font-size: 1.1rem;
	}
}

@media (max-width: 1281px) {
	.textBox {
		padding: 40px 100px;
	}

	.testimonial {
		height: 90vh;
		padding: 20px 100px;
	}

	.testimonial h2 {
		display: block;
		width: 100%;
		text-align: center;
		margin: 30px 0 50px;
	}
}

@media (max-width: 1153px) {
	body {
		font-size: 1rem;
	}

	h1 {
		font-size: 5.5rem;
		margin-top: 9%;
	}
	
	h2 {
		font-size: 2.4rem;
	}
	
	.testimonial h2 {
		margin: 10px 0 25px;
	}
	
	.about, .mission, .services {
		height: 75vh;
	}

	.textBox, .testimonial {
		padding: 20px 75px;
	}
}

@media (max-width: 1057px) {
	.about, .mission, .services {
	height: 90vh;
	}

	h1 {
		font-size: 5rem;
	}

	h2 {
		font-size: 2rem;
	}

	.testimonial h2 {
		margin: 0 25px;
	}
}

@media (max-width: 962px) {
	body > * {
		display: inline-block;
	}
	
	.clearfix {
		float: none;
	}

	.wrapper {
		max-width: 960px;
	}

	.textBox, .bkgImage {
		width: 100%
	}

}